<div id="sellerNavbar" class="container-fluid">
  <div class="container">
    <ul>
      <li (click)="showOrder=!showOrder; showInventory=false;">Orders</li>
      <li (click)="showInventory=!showInventory; showOrder=false;">Inventory</li>
    </ul>
  </div>
</div>

<div class="container p-3">
  <div class="row" *ngIf="showInventory">
    <div class="col-md-8">
      <!-- table for inventories -->
      <table class="table table-striped table-hover shadow-lg rou">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Posted Date</th>
            <th scope="col">Updated Date</th>
            <th scope="col">PriceAmount</th>
            <th scope="col">Stock</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><a href="#">Chocolate</a></th>
            <td>12/13/2018</td>
            <td>12/13/2018</td>
            <td>$99.99</td>
            <td>10</td>
            <td>
              <a class="btn-sm btn-primary ml-2">Edit</a>
              <a class="btn-sm btn-warning ml-2">Remove</a>
            </td>
          </tr>
          <tr>
            <th scope="row"><a href="#">Chocolate</a></th>
            <td>12/13/2018</td>
            <td>12/13/2018</td>
            <td>$99.99</td>
            <td>10</td>
            <td>
              <a class="btn-sm btn-primary ml-2">Edit</a>
              <a class="btn-sm btn-warning ml-2">Remove</a>
            </td>
          </tr>
          <tr>
            <th scope="row"><a href="#">Chocolate</a></th>
            <td>12/13/2018</td>
            <td>12/13/2018</td>
            <td>$99.99</td>
            <td>10</td>
            <td>
              <a class="btn-sm btn-primary ml-2">Edit</a>
              <a class="btn-sm btn-warning ml-2">Remove</a>
            </td>
          </tr>
          <tr>
            <th scope="row"><a href="#">Chocolate</a></th>
            <td>12/13/2018</td>
            <td>12/13/2018</td>
            <td>$99.99</td>
            <td>10</td>
            <td>
              <a class="btn-sm btn-primary ml-2">Edit</a>
              <a class="btn-sm btn-warning ml-2">Remove</a>
            </td>
          </tr>
          <tr>
            <th scope="row"><a href="#">Chocolate</a></th>
            <td>12/13/2018</td>
            <td>12/13/2018</td>
            <td>$99.99</td>
            <td>10</td>
            <td>
              <a class="btn-sm btn-primary ml-2">Edit</a>
              <a class="btn-sm btn-warning ml-2">Remove</a>
            </td>
          </tr>
          <tr>
            <th scope="row"><a href="#">Chocolate</a></th>
            <td>12/13/2018</td>
            <td>12/13/2018</td>
            <td>$99.99</td>
            <td>10</td>
            <td>
              <a class="btn-sm btn-primary ml-2">Edit</a>
              <a class="btn-sm btn-warning ml-2">Remove</a>
            </td>
          </tr>
          <tr>
            <th scope="row"><a href="#">Chocolate</a></th>
            <td>12/13/2018</td>
            <td>12/13/2018</td>
            <td>$99.99</td>
            <td>10</td>
            <td>
              <a class="btn-sm btn-primary ml-2">Edit</a>
              <a class="btn-sm btn-warning ml-2">Remove</a>
            </td>
          </tr>
          <tr>
            <th scope="row"><a href="#">Chocolate</a></th>
            <td>12/13/2018</td>
            <td>12/13/2018</td>
            <td>$99.99</td>
            <td>10</td>
            <td>
              <a class="btn-sm btn-primary ml-2">Edit</a>
              <a class="btn-sm btn-warning ml-2">Remove</a>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn-sm btn-primary" (click)="showInventoryForn=!showInventoryForn">Add Inventory</button>

      <!-- form for new inventory -->
      <form class="form-signin border shadow-lg rounded p-3 mt-5" *ngIf="showInventoryForn">
        <h1 class="h3 mb-3 font-weight-normal">Add a product</h1>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Name:</label>
              <input type="text" class="form-control form-control-sm validate" name="firstName" />
            </div>

            <div class="form-group">
              <label>Price:</label>
              <input type="text" class="form-control form-control-sm validate" />
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label>Quantity:</label>
              <input type="email" class="form-control form-control-sm validate" />
            </div>

            <div class="form-group">
              <label>Image Link:</label>
              <input type="text" class="form-control form-control-sm validate" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea type="text" class="form-control form-control-sm validate"></textarea>
        </div>

        <button class="btn btn-sm btn-primary btn-block" type="submit">Add
          Product
        </button>
      </form>
    </div>

    <!-- Product image box -->
    <div class="col-md-4">
      <div class="img-box shadow-lg rounded">
        <img src="https://colorlib.com/etc/fashe/images/banner-04.jpg" alt="">
      </div>
    </div>
  </div>

  <!-- Order -->
  <div *ngIf="showOrder">
    <div class="row">
      <div class="col-md-4">
        <div class="card mt-1 mb-4 shadow-lg bg-warning text-white">
          <div class="card-body">
            <h1 class="text-center display-4 sml">Unshipped</h1>
            <h2 class="text-center display-4 med">102</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mt-1 mb-4 shadow-lg bg-primary text-white">
          <div class="card-body">
            <h1 class="text-center display-4 sml">Shipped</h1>
            <h2 class="text-center display-4 med">204</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mt-1 mb-4 shadow-lg bg-success text-white">
          <div class="card-body">
            <h1 class="text-center display-4 sml">Completed</h1>
            <h2 class="text-center display-4 med">30130</h2>
          </div>
        </div>
      </div>
    </div>

    <!-- //unshipped -->
    <div class="row">
      <h3 class="mt-4 mb-3 col-auto mr-auto">Unshipped</h3>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Order #</th>
            <th scope="col">Order Date</th>
            <th scope="col">Customer</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><a href="#">1</a></th>
            <td>12/13/2018</td>
            <td>Mark</td>
            <td>$99.99</td>
            <td>
              <button type="button" class="btn-sm btn-primary ml-2">For Shipping</button>
              <button type="button" class="btn-sm btn-success ml-2">Completed</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- //shipped -->
    <div class="row">
      <h3 class="mt-4 mb-3 col-auto mr-auto">Shipped</h3>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Order #</th>
            <th scope="col">Order Date</th>
            <th scope="col">Customer</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><a href="#">1</a></th>
            <td>12/13/2018</td>
            <td>Mark</td>
            <td>$99.99</td>
            <td>
              <button type="button" class="btn-sm btn-danger ml-2">Unshipped</button>
              <button type="button" class="btn-sm btn-success ml-2">Completed</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- //shipped -->

    <!-- //completed -->
    <div class="row">
      <h3 class="mt-4 mb-3 col-auto mr-auto">Completed</h3>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Order #</th>
            <th scope="col">Order Date</th>
            <th scope="col">Customer</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><a href="#">1</a></th>
            <td>12/13/2018</td>
            <td>Mark</td>
            <td>$99.99</td>
            <td>
              <button type="button" class="btn-sm btn-danger ml-2">Unshipped</button>
              <button type="button" class="btn-sm btn-warning ml-2">Shipped</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- //completed -->
  </div>
</div>