<div id="sellerNavbar" class="container-fluid">
  <div class="container">
    <ul>
      <li (click)="showOrders()">Orders</li>
      <li (click)="showInventories()">Inventory</li>
    </ul>
  </div>
</div>

<div class="container p-3">
  <div class="row" *ngIf="showInventory">
    <div class="col-md-8">
      <!-- table for inventories -->
      <table class="table table-striped table-hover shadow-lg rou">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Posted Date</th>
            <th scope="col">Updated Date</th>
            <th scope="col">PriceAmount</th>
            <th scope="col">Stock</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listOfInventory">
            <th scope="row"><a href="#">{{item.name}}</a></th>
            <td>{{item.createdAt | date:'short'}}</td>
            <td *ngIf="item.updatedAt">{{item.updatedAt | date:'short'}}</td>
            <td *ngIf="!item.updatedAt">{{item.createdAt | date:'short'}}</td>
            <td>${{item.price}}</td>
            <td>{{item.stock}}</td>
            <td>
              <a (click)="showingEdit(item.id, item.name, item.price, item.stock, item.img, item.description)" class="btn-sm btn-primary ml-2">Edit</a>
              <a (click)="deleteItem(item.id)" class="btn-sm btn-warning ml-2">Remove</a>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn-sm btn-primary" (click)="showingAddItem()">Add Inventory</button>

      <div class="alert alert-success alert-sm" role="alert" *ngIf="messages.success">
        {{ messages.success }}
      </div>

      <!-- form for new inventory -->
      <form (submit)="addProduct()" class="form-signin border shadow-lg rounded p-3 mt-5" *ngIf="showAddItem">
        <h1 class="h3 mb-3 font-weight-normal">Add a product</h1>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Name:</label>
              <input type="text" class="form-control form-control-sm validate" name="name" #name="ngModel" minlength="2"
              [(ngModel)]="newPro.name" required/>
              <div *ngIf="!name.valid && (name.dirty || name.touched)">
                <span class="text-danger" *ngIf="name.errors.required">*Name is required.</span>
                <span class="text-danger" *ngIf="name.errors.minlength">*Must be at least 2 characters.</span>
              </div>
            </div>

            <div class="form-group">
              <label>Price:</label>
              <input type="text" class="form-control form-control-sm validate" name="price" #price="ngModel"
              [(ngModel)]="newPro.price" required/>
              <div *ngIf="!price.valid && (price.dirty || price.touched)">
                <span class="text-danger" *ngIf="price.errors.required">*Price is required.</span>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label>Stock:</label>
              <input type="text" class="form-control form-control-sm validate" name="quantity" #quantity="ngModel"
              [(ngModel)]="newPro.stock" required/>
              <div *ngIf="!quantity.valid && (quantity.dirty || quantity.touched)">
                <span class="text-danger" *ngIf="quantity.errors.required">*Quantity is required.</span>
              </div>
            </div>

            <div class="form-group">
              <label>ImageLink:</label>
              <input type="text" class="form-control form-control-sm validate" name="imageLink" #imageLink="ngModel"
              [(ngModel)]="newPro.img" required/>
              <div *ngIf="!imageLink.valid && (imageLink.dirty || imageLink.touched)">
                <span class="text-danger" *ngIf="imageLink.errors.required">*ImageLink is required.</span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea type="text" class="form-control form-control-sm validate" name="description" #description="ngModel"
          [(ngModel)]="newPro.description" required></textarea>
          <div *ngIf="!description.valid && (description.dirty || description.touched)">
          <span class="text-danger" *ngIf="description.errors.required">*Description is required.</span>
          </div>
        </div>

        <button class="btn btn-sm btn-primary btn-block" type="submit" (click)="addProduct">Add
          Product
        </button>
      </form>
    </div>

    <!-- form for edit item -->
    <form (submit)="editProduct()" class="form-signin border shadow-lg rounded p-3 mt-5" *ngIf="showEdit">
      <h1 class="h3 mb-3 font-weight-normal">Edit a product</h1>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control form-control-sm validate" name="name" #name="ngModel" minlength="2"
            [(ngModel)]="newPro.name" required/>
            <div *ngIf="!name.valid && (name.dirty || name.touched)">
              <span class="text-danger" *ngIf="name.errors.required">*Name is required.</span>
              <span class="text-danger" *ngIf="name.errors.minlength">*Must be at least 2 characters.</span>
            </div>
          </div>

          <div class="form-group">
            <label>Price:</label>
            <input type="text" class="form-control form-control-sm validate" name="price" #price="ngModel"
            [(ngModel)]="newPro.price" required/>
            <div *ngIf="!price.valid && (price.dirty || price.touched)">
              <span class="text-danger" *ngIf="price.errors.required">*Price is required.</span>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label>Stock:</label>
            <input type="text" class="form-control form-control-sm validate" name="quantity" #quantity="ngModel"
            [(ngModel)]="newPro.stock" required/>
            <div *ngIf="!quantity.valid && (quantity.dirty || quantity.touched)">
              <span class="text-danger" *ngIf="quantity.errors.required">*Quantity is required.</span>
            </div>
          </div>

          <div class="form-group">
            <label>ImageLink:</label>
            <input type="text" class="form-control form-control-sm validate" name="imageLink" #imageLink="ngModel"
            [(ngModel)]="newPro.img" required/>
            <div *ngIf="!imageLink.valid && (imageLink.dirty || imageLink.touched)">
              <span class="text-danger" *ngIf="imageLink.errors.required">*ImageLink is required.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea type="text" class="form-control form-control-sm validate" name="description" #description="ngModel"
        [(ngModel)]="newPro.description" required></textarea>
        <div *ngIf="!description.valid && (description.dirty || description.touched)">
        <span class="text-danger" *ngIf="description.errors.required">*Description is required.</span>
        </div>
      </div>

      <button class="btn btn-sm btn-primary btn-block" type="submit" (click)="addProduct">Edit
        Product
      </button>
    </form>

    <!-- Product image box -->
    <div class="col-md-4">
      <div class="img-box shadow-lg rounded">
        <img *ngIf="newPro.img" [src]="newPro.img"  alt="">
      </div>
    </div>
  </div>

  <!-- Order -->
  <div *ngIf="showOrder">
    <div class="row">
      <div class="col-md-4">
        <div class="card mt-1 mb-4 shadow-lg bg-warning text-white">
          <div class="card-body">
            <h1 class="text-center display-4 sml">Unshipped</h1>
            <h2 class="text-center display-4 med">{{unshipped}}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mt-1 mb-4 shadow-lg bg-primary text-white">
          <div class="card-body">
            <h1 class="text-center display-4 sml">Shipped</h1>
            <h2 class="text-center display-4 med">{{shipped}}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mt-1 mb-4 shadow-lg bg-success text-white">
          <div class="card-body">
            <h1 class="text-center display-4 sml">Completed</h1>
            <h2 class="text-center display-4 med">{{completed}}</h2>
          </div>
        </div>
      </div>
    </div>

    <!-- //unshipped -->
    <div class="row">
      <h3 class="mt-4 mb-3 col-auto mr-auto">Unshipped</h3>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Order #</th>
            <th scope="col">Order Date</th>
            <!-- <th scope="col">Customer</th> -->
            <th scope="col">Total Amount</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of unshippedList">
            <th scope="row"><a href="#">{{order.id}}</a></th>
            <td>{{order.datePaid | date:'short' }}</td>
            <td>${{order.total}}</td>
            <td>
              <button (click)='updateStatus(order.id, "shipped")' type="button" class="btn-sm btn-primary ml-2">For Shipping</button>
              <button (click)='updateStatus(order.id, "completed")' type="button" class="btn-sm btn-success ml-2">Completed</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- //shipped -->
    <div class="row">
      <h3 class="mt-4 mb-3 col-auto mr-auto">Shipped</h3>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Order #</th>
            <th scope="col">Order Date</th>
            <!-- <th scope="col">Customer</th> -->
            <th scope="col">Total Amount</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of shippedList">
            <th scope="row"><a href="#">{{order.id}}</a></th>
            <td>{{order.datePaid | date:'short' }}</td>
            <td>${{order.total}}</td>
            <td>
              <button (click)='updateStatus(order.id, "unshipped")' type="button" class="btn-sm btn-danger ml-2" >Unshipped</button>
              <button (click)='updateStatus(order.id, "completed")' type="button" class="btn-sm btn-success ml-2">Completed</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- //shipped -->

    <!-- //completed -->
    <div class="row">
      <h3 class="mt-4 mb-3 col-auto mr-auto">Completed</h3>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Order #</th>
            <th scope="col">Order Date</th>
            <!-- <th scope="col">Customer</th> -->
            <th scope="col">Total Amount</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of completedList">
            <th scope="row"><a href="#">{{order.id}}</a></th>
            <td>{{order.datePaid | date:'short' }}</td>
            <td>${{order.total}}</td>
            <td>
              <button (click)='updateStatus(order.id, "unshipped")' type="button" class="btn-sm btn-danger ml-2">Unshipped</button>
              <button (click)='updateStatus(order.id, "shipped")' type="button" class="btn-sm btn-warning ml-2">Shipped</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- //completed -->
  </div>
</div>