<div class="container text-center">
  <h1 class="title text-center font-weight-bold"><span class="text-danger">FLIX</span>ZONE</h1>
  <div class="row">
    <div class="col mb-5">
      <div class="flip-card">
        <div class="flip-card-inner border-secondary rounded" routerLink="movies">
          <div class="flip-card-front">
            <h1 class="text-center font-weight-bold"><span class="text-danger">FLIX</span>MOVIE</h1>
          </div>
          <div class="flip-card-back">
            <h3 class="text-center font-weight-bold mt-4"><span class="text-danger">FLIX</span>MOVIE</h3>
            <p>Movie API</p>
            <p>Add description here...</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col mb-5">
      <div class="flip-card">
        <div class="flip-card-inner border rounded" routerLink="music">
          <div class="flip-card-front">
            <h1 class="text-center font-weight-bold"><span class="text-danger">FLIX</span>MUSIC</h1>
          </div>
          <div class="flip-card-back">
            <h3 class="text-center font-weight-bold mt-4"><span class="text-danger">FLIX</span>MUSIC</h3>
            <p>Music API</p>
            <p>Add description here...</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col mb-5">
      <div class="flip-card">
        <div class="flip-card-inner border rounded" routerLink="shopping">
          <div class="flip-card-front">
            <h1 class="text-center font-weight-bold"><span class="text-danger">FLIX</span>SHOP</h1>
          </div>
          <div class="flip-card-back">
            <h3 class="text-center font-weight-bold mt-4"><span class="text-danger">FLIX</span>SHOP</h3>
            <p>Amazon Like shopping</p>
            <p>Add description here...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>