<div class="outLayer">
  <div class="row p-5">
    <div class="col-4 p-2">
      <img src="https://images-na.ssl-images-amazon.com/images/I/4192gwklkbL.jpg" alt="">
    </div>
    <div class="col-6 p-2">
      <div class="">
        <span class="font-weight-bold">KIT KAT NESTLE Caramel Burst & Sea Salt Milk, 140g Bar</span>
      </div>
      <div class="mb-2">
        <span>by </span><a class="noTextDeco" href="">Kit Kat</a>
        <!-- Potential Review Stars here -->
        <hr class="noMarginTop">
        <span>Price: </span>
        <span class="price font-weight-bold">$2.98</span>
        &
        <!-- Potential change in shipping options -->
        <span class="font-weight-bold">FREE Two-Day Shipping</span>
        <span>for Prime members.</span>
      </div>
      <div class="inStock">
        In Stock
      </div>
      <div class="noStock">
        Out of Stock
      </div>
      <div class="productInfo mt-2">
        <ul>
          <li>
            A crispy wafer topped with a rich caramel and sea salt filling, covered in milk-chocolatey coating
          </li>
          <li>
            We purchase 100-Percent Sustainably Sourced Cocoa certified by UTZ,
          </li>
          <li>
            There are 10, easy-to-break rows that come in a re-closable wrapper, perfect for sharing or saving for
            later. </li>
          <li>
            210 calories per 3 pieces (42g)
          </li>
        </ul>
      </div>
    </div>
    <div class="col-2">
      <div class="box p-3">
        <div class="price">$2.98</div>
        <div class="inStock">
          In Stock
        </div>
        <div class="noStock">
          Out of Stock
        </div>
        <span>Sold by </span><a class="noTextDeco" href="">Kit Kat</a>
        <div>Quantity:</div>
        <div class="p-2">
          <select class="custom-select" size="2">
            <option selected value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select>
          <button class="btn-lg btn-block btn-outline-success mt-3">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>