<div class="container">
  <h3 class="text-center font-weight-bold"><span class="text-danger">FLIX</span>ZONE</h3>
  <form class="form-signin border shadow-lg rounded p-3" (submit)="register()">
    <h1 class="h3 mb-3 font-weight-normal">Create Account</h1>
    <span class="text-success" *ngIf="messages.success">{{ messages.success }}</span>

    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control form-control-sm validate" name="firstName" #firstName="ngModel" minlength="2"
        [(ngModel)]="newUser.firstName" required autofocus>
      <span class="text-danger" *ngIf="messages.firstName">{{ messages.firstName }}</span>
      <div *ngIf="!firstName.valid && (firstName.dirty || firstName.touched)">
        <span class="text-danger" *ngIf="firstName.errors.required">*First Name is required.</span>
        <span class="text-danger" *ngIf="firstName.errors.minlength">*Must be at least 2 characters.</span>
      </div>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control form-control-sm validate" name="lastName" #lastName="ngModel" minlength="2"
        [(ngModel)]="newUser.lastName" required autofocus>
      <span class="text-danger" *ngIf="messages.lastName">{{ messages.lastName }}</span>
      <div *ngIf="!lastName.valid && (lastName.dirty || lastName.touched)">
        <span class="text-danger" *ngIf="lastName.errors.required">*Last Name is required.</span>
        <span class="text-danger" *ngIf="lastName.errors.minlength">*Must be at least 2 characters.</span>
      </div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control form-control-sm validate" name="email" #email="ngModel" [(ngModel)]="newUser.email"
        required autofocus>
      <span class="text-danger" *ngIf="messages.email">{{ messages.email }}</span>
      <div *ngIf="!email.valid && (email.dirty || email.touched)">
        <span class="text-danger" *ngIf="email.errors.required">*Email is required.</span>
        <span class="text-danger" *ngIf="email.errors.valid">*Email is Invalid.</span>
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control form-control-sm validate" name="password" #password="ngModel"
        minlength="6" [(ngModel)]="newUser.password" required>
      <small class="form-text text-muted">Passwords must be at least 6 characters.</small>
      <span class="text-danger" *ngIf="messages.password">{{ messages.email }}</span>
      <div *ngIf="!password.valid && (password.dirty || password.touched)">
        <span class="text-danger" *ngIf="password.errors.required">*Password is required.</span>
        <span class="text-danger" *ngIf="password.errors.minlength">*Must be at least 6 characters.</span>
      </div>
    </div>

    <div class="form-group">
      <label>Re-enter password</label>
      <input type="password" class="form-control form-control-sm validate" name="confirm_pass" #confirm_pass="ngModel"
        [(ngModel)]="confirm_password" required>
      <span class="text-danger" *ngIf="confirm_password != newUser.password">*Confirm_Password is not match</span>
    </div>

    <button class="btn btn-sm btn-danger btn-block" type="submit" [disabled]="!firstName.valid || !lastName.valid || !email.valid || !password.valid || (confirm_password != newUser.password)">Sign
      Up</button>
    <hr>
    <a class="btn btn-sm btn-dark btn-block" routerLink="/auth/signin">Sign In</a>
  </form>
</div>