<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<mat-drawer-container class="root-container" autosize>

    <mat-drawer #drawer class="root-sidenav" mode="over">
        <ul class="list-group">
            <li class="list-group-item btn btn-danger">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="list-group-item btn btn-danger">
                <a class="nav-link" routerLink="movies">Movies</a>
            </li>
            <li class="list-group-item btn btn-danger">
                <a class="nav-link text-black" routerLink="music">Music</a>
            </li>
            <li class="list-group-item btn btn-danger">
                <a class="nav-link" routerLink="shopping">Shopping</a>
            </li>
            <li class="list-group-item btn btn-danger">
                <a class="nav-link" routerLink="auth/signin">Sign Up/Sign In</a>
            </li>
        </ul>
    </mat-drawer>

    <div class="root-sidenav-content">
        <a mat-button (click)="drawer.toggle()" style="cursor: pointer;" class="float-right sidenav-trigger"><i class="fas fa-home fa-3x text-danger"></i></a>
    </div>

    <router-outlet></router-outlet>
</mat-drawer-container>