.root-container {
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.root-sidenav {
  width: 300px;
}

.root-sidenav-content{
  position: fixed; 
  left: 25px; 
  top: 94vh; 
  z-index: 3;
}